.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding-inline: .5rem;
    margin-block: 1rem;
}

.tag-badge {      
    margin: 8px .25rem 8px 0;  
    padding: .25rem 0.625rem;
    border-radius: .25rem;
    background-color: rgb(165 243 252);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    color: rgb(14 116 144);
  }

  .tag-link {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .75rem;
    color: rgb(107 114 128);;
    font-weight: 500; 
  }